<div class="layout-container" *ngIf="shouldShowLayout()">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-start">
      <button class="menu-button" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <h1 class="navbar-title">Basic-Fit</h1>
    </div>
    <div class="navbar-end">
      <div class="user-info">
        <i class="fas fa-user"></i>
        <span class="username">{{ username }}</span>
        <!-- Affiche 'Invité' si username est indéfini -->
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <aside class="sidebar" [class.sidebar-closed]="!isSidebarOpen">
    <nav class="sidebar-nav">
      <a routerLink="/app/Accueil" routerLinkActive="active" class="nav-item">
        <i class="fas fa-home"></i>
        <span>Accueil</span>
      </a>
      <a routerLink="/app/Client" routerLinkActive="active" class="nav-item">
        <i class="fas fa-users"></i>
        <span>Gestion Des Clients</span>
      </a>
      <a routerLink="/messages" routerLinkActive="active" class="nav-item">
        <i class="fas fa-envelope"></i>
        <span>Gestion Des Offres</span>
      </a>
      <a routerLink="/settings" routerLinkActive="active" class="nav-item">
        <i class="fas fa-cog"></i>
        <span>Gestion Des Abonnements</span>
      </a>
      <a routerLink="/settings" routerLinkActive="active" class="nav-item">
        <i class="fas fa-cog"></i>
        <span>Gestion Des Utilisateurs</span>
      </a>
    </nav>
    <div class="sidebar-footer">
      <button class="logout-button" (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Déconnexion</span>
      </button>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="main-content" [class.sidebar-closed]="!isSidebarOpen">
    <app-home *ngIf="activePage === '/app/Accueil'"></app-home>
    <app-customers *ngIf="activePage === '/app/Client'"></app-customers>
  </main>
</div>

<ng-container *ngIf="!shouldShowLayout()">
  <ng-content></ng-content>
</ng-container>
