<body>
  <div class="customer-container">
    <div class="header-container">
      <div class="controls-wrapper">
        <div class="search-container">
          <input
            type="text"
            placeholder="Rechercher un client..."
            [(ngModel)]="searchTerm"
            (input)="filterCustomers()"
          />
        </div>
        <button class="add-button" (click)="openModal()">
          <span>＋</span>
          Ajouter un Client
        </button>
      </div>
    </div>

    <div class="table-container">
      <table class="customer-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date D'inscription</th>
            <th>Telephone</th>
            <th>Abonnement actif</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of filteredCustomers">
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.registrationDate | date : "dd MMM yyyy" }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>{{ customer.activeSubscription ? "Oui" : "Non" }}</td>
            <td>
              <div class="action-buttons">
                <button
                  class="edit-button"
                  (click)="editCustomer(customer.userId)"
                  title="Modifier"
                >
                  ✎
                </button>
                <button
                  class="delete-button"
                  (click)="
                    deleteCustomer(
                      customer.userId,
                      customer.firstName,
                      customer.lastName
                    )
                  "
                  title="Supprimer"
                >
                  🗑
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="filteredCustomers.length === 0">
            <td colspan="5" class="no-data">Aucun client trouvé</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-customermodal
    *ngIf="isModalOpen"
    (close)="closeModal()"
    (save)="handleSaveCustomer($event)"
    [customer]="selectedCustomer"
  >
  </app-customermodal>

  <app-confirmationmodal
    *ngIf="isConfirmationModalOpen"
    [objectId]="selectedCustomerId"
    [objectName]="selectedCustomerName"
    (close)="handleConfirmation($event)"
  >
  </app-confirmationmodal>

  <app-customer-response-modal-component
    *ngIf="showResponseModal"
    [customerResponse]="customerResponse"
    (close)="showResponseModal = false"
  ></app-customer-response-modal-component>
</body>
